@forward 'components/theme';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/tab';
@forward 'components/modal';
@forward 'components/section-title';
@forward 'layout/meanmenu';
@forward 'layout/header';
@forward 'layout/hero';
@forward 'layout/creative';
@forward 'layout/cta';
@forward 'layout/brand';
@forward 'layout/service';
@forward 'layout/feature';
@forward 'layout/business';
@forward 'layout/project';
@forward 'layout/price';
@forward 'layout/about';
@forward 'layout/testimonial';
@forward 'layout/team';
@forward 'layout/mission';
@forward 'layout/job';
@forward 'layout/chose';
@forward 'layout/case';
@forward 'layout/product';
@forward 'layout/industri';
@forward 'layout/home-corporate';
@forward 'layout/home-blog';
@forward 'layout/blog';
@forward 'layout/news';
@forward 'layout/newsletter';
@forward 'layout/contact';
@forward 'layout/footer';

  